@font-face {
    font-family: 'Dsfont';
    src: url(./assets/pokemon-ds-font.woff) format('woff');

}

body {
    font-family: "Dsfont";
    padding: 0px;
    margin: 0px;
    background-image: 
    linear-gradient(#ababab 5px, transparent 1px),
    linear-gradient(90deg, #ababab 5px, transparent 1px);
    background-size: 150px 150px;
    animation: moveGrid 10s linear infinite;
}

@keyframes moveGrid {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 150px 150px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    background: linear-gradient(90deg, #a7001e 2%, #e00c29 3%, #ff1d35 96%, #e00c29 97%, #a7001e 98%);
    border-bottom: 8px solid #3f3f3f;
}

header .lng {

    background: white;
    padding: 4px;
    border-radius: 15px;
    margin-right: 20px;

}

.arrow {
    width: 40px;
    height: auto;
}

.pokeball {
    width: 40px;
    height: 40px;
}

#ID {
    width: 350px;
    display: flex;
    flex-direction: column;
    border: #40524e solid 4px;
    border-radius: 5px;
    corner-shape: notch;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);

}

.topID {
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: #ff98a6 solid 5px;
    corner-shape: notch;

    align-items: center;
    background: #ff1f33;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
}

.bottomID {
    display: flex;
    justify-content: end;
    padding-right: 15px;
    background: white;
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    width: 40%;
}

#sprites {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.scream {
    width: 90px;
    height: 95px;
    display: flex;
    flex-direction: column;
    border: #40524e solid 4px;
    border-radius: 5px;
    margin-top: 20px;
    corner-shape: notch;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);

}

.screamTop {
    border-bottom: #ff1d35 solid 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    corner-shape: notch;

}

.sound-btn {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 90px;
    height: 100px;
    border-top: #ff98a6 solid 2px;
    background: white;
    background-image: url("assets/pokecry.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sound-btn:hover {
    background-image: url("assets/pokecry-hover.png");
}

#type {
    display: flex;
    gap: 10px;

}

.type {
    width: 95px;
    height: 35px;
    color: white;
    border: black, solid 3px;
    text-align: center;
    border-radius: 5px;
    corner-shape: scoop;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    background-color: #50a191;
}

.scream-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#H-W {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: black, solid;
    background: white;
    corner-shape: notch;
    width: 200px;
    height: 70px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    margin-left: 130px;
}

.WT {
    display: flex;
    border-bottom: #92acbc dashed 3px;
    margin-top: 5px;
    width: 90%;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.HT {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;

}

.desc-border {
    width: 40%;
    margin-top: 50px;
    border: black solid 4px;
    corner-shape: notch;
    border-radius: 5px;
    background-color: #ff0031;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

#description {
    text-align: justify;
    margin: 0px 20px;
    border: #ff94a5 solid;
    background: white;
    padding: 0px 20px;
}

.normal {
    background-color: #9ea19f;
}

.fire {
    background-color: #ff102b;
}

.fighting {
    background-color: #ff7c27;
}

.water {
    background-color: #ff102b;

}

.flying {
    background-color: #70b9eb;

}

.grass {
    background-color: #00a33f;

}

.poison {
    background-color: #a237c4;

}

.electric {
    background-color: #ffc03c;

}

.ground {
    background-color: #9c5028;

}

.psychic {
    background-color: #ff3376;

}

.rock {
    background-color: #b0a985;

}

.ice {
    background-color: #00cff0;

}

.bug {
    background-color: #8aa337;

}

.dragon {
    background-color: #555cda;

}

.ghost {
    background-color: #7a3e6d;

}

.dark {
    background-color: #674c4e;

}

.steel {
    background-color: #44a2b6;

}

.fairy {
    background-color: #ff67e8;

}